<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donuts-chart [label]='graficos.grafico1.labels' [data]='graficos.grafico1.data' type="doughnut"
          titulo={{graficos.grafico1.leyenda}}>
        </app-donuts-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donuts-chart [label]='graficos.grafico2.labels' [data]='graficos.grafico2.data' type="doughnut"
          titulo={{graficos.grafico2.leyenda}}>
        </app-donuts-chart>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donuts-chart [label]='graficos.grafico3.labels' [data]='graficos.grafico3.data' type="doughnut"
          titulo={{graficos.grafico3.leyenda}}>
        </app-donuts-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donuts-chart [label]='graficos.grafico4.labels' [data]='graficos.grafico4.data' type="doughnut"
          titulo={{graficos.grafico4.leyenda}}>
        </app-donuts-chart>
      </div>
    </div>
  </div>

</div>
